*
{
    margin: 0;
    padding: 0;
}
html,
/* body 
{
  position: relative;
  height: 100%;
} */

body 
{
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #fff;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
/* Dropdown AND Search___________________ */

/* .dropbtn {
  position: relative;
  margin-top: 0;
  margin-left: 0;
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #3e8e41;
}

#myInput {
  box-sizing: border-box;
  background-image: url('searchicon.png');
  background-position: 14px 12px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 14px 20px 12px 45px;
  border: none;
  border-bottom: 1px solid #ddd;
}

#myInput:focus {outline: 3px solid #ddd;}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f6f6f6;
  min-width: 230px;
  overflow: auto;
  border: 1px solid #ddd;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;} */

/* ____________Navbar WIth Search___________________________________________________ */



/* ______________Swiper Container_______________________ */
.swiper-container 
{
  /* display: none; */
  width: 350px;
  height: 350px;
  position: absolute;
  margin: 0 auto;
  border-radius: 25px;
  /* background-color: #fff; */
}

.swiper-slide 
{
  background-position: center;
  background-size: cover;
  background: rgb(72, 73, 68);
  border-radius: 25px;
  box-shadow:.5px .5px 10px 20px rgb(114, 111, 111);
}

@media screen and (min-width: 415px)
{
    .swiper-slide
    {
        width: 590px;
        height: 590px;
    } 
}

@media screen and (min-width: 850px)
{
    .swiper-slide
    {
        width: 800px;
        height: 800px;
    } 
}

/* _____________________ Video Background_____________________*/
#videoBG {
  position: fixed;
  z-index: -1;
}

@media (min-aspect-ratio: 16/9) {
  #videoBG {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  #videoBG {
    width: auto;
    height: 100%;
  }
}

@media (max-width: 767px) 
{
  #videoBG 
  {
    display: none;
  }
  body 
  {
    background-image: linear-gradient(125deg, rgb(204, 125, 21), #a4c22dec, #da123d);
        background-size: 200% 200%;
        background-position: center;
        animation: bganimation 10s infinite;
        background-repeat: no-repeat;
  }
  @keyframes bganimation 
  {
    0% {
      background-position: 0% 50%;
    }

    50% {
      background-position: 100% 50%;
    }

    100% {
      background-position: 0% 50%;
    }
  }
}  