*
{
    margin: 0;
    padding: 0;
}
body
{ 
    background-image: linear-gradient(45deg,rgb(51, 51, 51),rgb(92, 86, 86),rgb(19, 11, 15));
    background-size: 200% 200%;
    background-position: center;
    animation: bganimation 10s infinite;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
}

@keyframes bganimation
{
    0%
    {
        background-position: 0% 50%;
    }
    50%
    {
        background-position: 100% 50%;
    }
    100%
    {
        background-position: 0% 50%;
    }
}
.sign-up-form
{
 width: 300px;
 background: aliceblue;
 padding: 10px 20px 20px 20px;
 margin: 5% auto;
 text-align: center;  
 border-radius: 20px; 
 box-shadow: 1px 1px 10px 10px rgb(163, 214, 24);
}

.sign-up-form h2
{
    color: #1c8adb;
    margin-bottom: 20px;
    font-size: 30px;
}

.input-box
{
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
    margin:7px -10px;
    width: 80%;
    border: 1px solid #999;
    outline: none;
}

.sign-btn
{
    border-radius: 50px;
    width: 100px;
    height: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-shadow: 1px 2px 5px 5px peru;
}

.sign-btn:hover
{
    border-radius: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #e98614;
    cursor: pointer;
    box-shadow: 1px 1px 5px 5px rgb(38, 39, 36);
}

@media screen and (min-width:415px)
{
    .sign-up-form
    {
        padding: 10px 50px 20px 50px;
    }
    .input-box
    {
        width: 90%;
    }
}
